Search for: {{.Search}}
{{range .Reports}}
{{if .Cleared}}:white_check_mark:{{else}}:red_circle:{{end}} ID: {{.ID}} Name: `{{.Name}}` {{if .PSNName}}PSN: `{{.PSNName}}`{{end}} For: `{{.AdditionalInfo}}` 
{{else}}No results returned
{{end}}
